@model hw601315_SD1.Models.Visit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pet.petName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.petName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vet.vetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet.vetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visitDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.visitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
