@model IEnumerable<hw601315_SD1.Models.Visit>

@{
    ViewBag.Title = "Scheduled Visits";
}

    <div class=" alert alert-info">
        <h2>Scheduled Visits</h2>
    </div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pet.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.vetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visitDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.vetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.visitDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.visitID }) | 
            @Html.ActionLink("Details", "Details", new { id=item.visitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.visitID })
        </td>
    </tr>
}

</table>
