@model hw601315_SD1.Models.Vet

@{
    ViewBag.Title = "Delete a Vet";
}

    <div class="well">
        <h2>Delete a Vet</h2>
    </div>
<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technicianName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technicianName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vetLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vetLocation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
